@{
    ViewData["Title"] = "Welcome";
}

<h1 style="text-align:center">Welcome to our BLOGGER websites</h1>

<div style="text-align:center">
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
    <a href="@Url.Action("SignUp", "Account")" class="btn btn-secondary">Sign Up</a>
</div>
