@model Blogger.Entities.User

@{
    ViewData["Title"] = "ProfileDetail";
}

<span>
<h2>Username: @Model.Username</h2>
<h4>Password: ******</h4>
</span>
<span>
    <h2>Change Username</h2>

    <form asp-action="ChangeUsername" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</span>

<h2>Posts</h2>
@foreach (var post in Model.Posts)
{
    <div>
        <h3>@post.Title</h3>
        <p>@post.Content</p>
    </div>
}

<h2>Comments</h2>

@foreach (var comment in Model.Comments)
{   
    @if (comment == null)
    {
        <p>You have not any comments.</p>
    }
    else
    {
        <div>
            <p>@comment.Text</p>
        </div>
    }
}


