@model Blogger.Entities.User

@{
    ViewData["Title"] = "ProfileDetail";
}

<span>
<h2>Username: @Model.Username</h2>
<h4>Password: ******</h4>
</span>
<span>
    <a >
    Change your Username and Password
    </a>
</span>

<h2>Posts</h2>
@foreach (var post in Model.Posts)
{
    <div>
        <h3>@post.Title</h3>
        <p>@post.Content</p>
    </div>
}

<h2>Comments</h2>
@foreach (var comment in Model.Comments)
{
    <div>
        <p>@comment.Text</p>
    </div>
}


