@model Blogger.Entities.User

@{
    ViewData["Title"] = "ProfileDetail";
}

<h2>Profile Detail</h2>

<div>
    <h4>Username: @Model.Username</h4>
    <h4>Password: ******</h4>
</div>

<div>
    <h2>Change Username</h2>
    <form asp-action="ChangeUsername" method="post">
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div>
    <h2>Change Password</h2>
    <partial name="_ChangePasswordPartial" model="new Blogger.Models.ChangePasswordViewModel { Id = Model.Id }" />
</div>

<h2>Posts</h2>
@foreach (var post in Model.Posts)
{
    <div>
        <h3>@post.Title</h3>
        <p>@post.Content</p>
    </div>
}

<h2>Comments</h2>
@if (!Model.Comments.Any())
{
    <p>You have not any comments.</p>
}
else
{
    @foreach (var comment in Model.Comments)
    {
        <div>
            <p>@comment.Text</p>
        </div>
    }
}
